<div class="masthead">
  <h1 class="text-info lead"><a href="http://inikhil.github.com/">Nikhil</a></h1>
</div>

<div class="marketing row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4">
        <h3>Hi there!</h3><hr>
        <p >I'm Nikhil Agarwal.</p><br />
        <p class="muted">resume <a href="#">html</a> <a href="#">pdf</a></p>
        <p class="muted">email <a href="mailto:naagrwal@gmail.com">naagrwal@gmail.com</a></p>
        <p class="muted">others <a href="https://www.github.com/inikhil">github</a> <a href="http://www.quora.com/Nikhil-Agarwal-7">quora</a> <a href="https://www.facebook.com/nikhil.agarwal.79">facebook</a> </p>

        <br /><img src="{{ ASSET_PATH }}images/my.jpg" class="img-polaroid" height="200" width="300" title="Nikhil Agarwal">
        <br /><br />
        <h3>Projects</h3>
        Coming Soon<br />
        <br />
        <br />
        <h3>Random</h3>
        Coming Soon<br />
  </div>
</div>
