<div class="masthead">
  <h1 class="text-info lead"><a href="http://iarpit.github.com/">Arpit</a></h1>
</div>

<div class="marketing row">
  <div class="span8">
    {{ content }}
  </div>
  <div class="span4">
        <h3>Hi there!</h3><hr>
        <p >I'm Arpit Agrawal.</p><br />
        <p class="muted">resume <a href="#">html</a> <a href="#">pdf</a></p>
        <p class="muted">email <a href="mailto:arpitcode@gmail.com">arpitcode@gmail.com</a></p>
        <p class="muted">others <a href="https://www.github.com/iarpit">github</a> <a href="http://www.quora.com/Arpit-Agrawal">quora</a> <a href="https://www.facebook.com/iamarpit">facebook</a> </p>

        <br /><img src="{{ ASSET_PATH }}images/my.jpg" class="img-polaroid" height="200" width="300" title="Arpit Agrawal">
        <br /><br />
        <h3>Projects</h3>
        Coming Soon<br />
        <br />
        <br />
        <h3>Random</h3>
        Coming Soon<br />
  </div>
</div>
